/*===============
    css reset
=================*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

/*===============
formatação geral
=================*/

html {
    font-size: calc(5px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;

}

html body a {
    text-decoration: none;
    color: #21243D;

}

main {

    margin: 0 13vw 0 13vw;
}


/*===============
formatacao do topo
=================*/


header nav ul {

    display: flex;
    justify-content: right;
    
}

header nav ul li {

    margin: 1vw 5px 5px ;
    
}

header nav ul li.cor a {

    color: #ff6464;
}

/*===============
formatacao de works
=================*/

main.works section:last-child {

    border: none;
}

main.works section {

    border-bottom: 1px solid #e0e0e0;
    padding: 2vw 0 2vw 0;
}

main.works h1 {

    margin: 0 0 0 0;
    font-weight: normal;


}

section p {

    margin: 2vw 0 2vw 0;


}



main.works section p span {

    background-color: #ff6464;
    color: white;
    border-radius: 35px;
    font-weight: 700;
    padding: 2px 5px 2px 5px;
}






/*===============
formatacao de pagina
=================*/

section.banner {

    display: flex;
    margin: 10vw 2vw 2vw 0vw;


}

section.banner h1 {

    font-size: 4vw;
}

section.banner p {

    font-size: x-large;
    margin: 3vw 3vw 3vw 0
}

section.banner button {

    background-color: #ff6464;
    color: white;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;

}

section.posts {

    background-color: #edf7fa;
    padding: 2vw 10px 2vw 10px;
    margin: 0 0 0 0;
}

section.posts h2 {

    font-weight: normal;
    margin: 0 0 2vw 0;
}

section.posts ul {

    display: flex;


}

section.posts ul li {

    background-color: white;
    padding: 10px 20px 10px 20px;
    margin: 0 3vw 0 0;
}

section.posts ul li p {

    margin: 1.5vw 0vw 1.5vw 0vw;
}

section.posts ul li:last-child {

    margin: 0;
}

section.works div h3 {
  
    margin: 15px 0 4px 0;
    font-size: 1rem;
    color: #21243D;
    font-weight: 900;
    

}


section.works h2 {

    font-size: 2rem;
    font-weight: 100;
    margin: 30px 0 25px;
}



section.works >div {

    display: flex;

}

section.works div {

    
    margin: 0 10vw 0 0;
}


div p span {

    background-color: #21243D;
    color: white;
    font-weight: 800;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
    margin: 0 15px 0 0;
}

div p.cinza {

    color: rgb(144, 145, 145);

}




/*===============
formatacao do rodape
=================*/

footer {

    text-align: center;
    margin: 1vw 0 1vw 0;
}

footer nav ul {

    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

footer nav ul li a {

    padding: 10px;
    color: rgb(7, 3, 55);
    margin: 0 0 5px 0;
    font-size: 32px;


}